<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.com/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>
<ul>
  <li><a class="active" href="http://localhost:9090/display">Display Chocolates</a></li>
  <li><a href="http://localhost:9090/add">Add Chocolates</a></li>
  <li><a href="http://localhost:9090/update">Update Chocolates</a></li>
  <li><a href="http://localhost:9090/delete">Delete Chocolates</a></li>
</ul>
<form th:action=@{/addChocolate} th:object="${Choc}">
			<br> Enter Chocolate Name :<input onkeypress="return /[a-z]/i.test(event.key)"  type="text" th:field=*{name} required  /><br>
			<br> Enter Chocolate Rupee :<input type="number" min=0 th:field=*{rupee}  required/><br> <br> <input type="submit"
				value="save" />&nbsp;&nbsp;&nbsp;&nbsp; <input type="reset"
				value="Reset" /> <br> <br>
		</form>
		
</body>
</html>
